.container {
  max-width: 1440px;
  margin: 0px auto;
}

.navbar {
  width: 1286px;
  padding-left: 54px;
  padding-right: 100px;
  display: inline-flex;
}
.navbar__content {
  display: inline-flex;
  gap: 200px;
  padding: 30px;
}
.navbar__logo img {
  width: 50px;
  height: 32px;
}
.navbar__logo b {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar__menus ul {
  display: inline-flex;
  gap: 60px;
  list-style: none;
}
.navbar__menus ul a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar__icons {
  padding: 36px;
  display: inline-flex;
  gap: 45px;
}
.navbar__icons__icons-content {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.mask-group__content {
  background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1\ \(1\).jpg);
  height: 717px;
  position: relative;
}
.mask-group__content .mask-group__box {
  padding-left: 41px;
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background: #FFF3E3;
  position: absolute;
  top: 153px;
  right: 58px;
}
.mask-group__content .mask-group__box p {
  margin-top: 62px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}
.mask-group__content .mask-group__box h1 {
  margin-top: 6px;
  width: 559px;
  height: 127px;
  color: #B88E2F;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 17px;
}
.mask-group__content .mask-group__box span {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.mask-group__content .mask-group__box button {
  margin-top: 46px;
  display: inline-flex;
  padding: 25px 72px;
  align-items: flex-start;
  gap: 10px;
  background: #B88E2F;
  border: none;
  margin-bottom: 40px;
}

.browsetherange {
  width: 1183px;
  height: 685px;
  position: relative;
  top: 10px;
  left: 131px;
}
.browsetherange__imgs {
  width: 381px;
  height: 480px;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 130px;
  margin-top: 48px;
}
.browsetherange__text {
  text-align: center;
  padding: 20px 0px;
}
.browsetherange__text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0px;
}
.browsetherange__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.browsetherange__text span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.browsetherange__imgs1 {
  border-radius: 20px;
}

.browsetherange__ims2 {
  border-radius: 20px;
}

.browsetherange__imgs3 {
  border-radius: 20px;
}

.ourproduct {
  padding-left: 250px;
  margin-top: 40px;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourproduct h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
  padding-right: 90px;
}
.ourproduct .frame7 {
  display: inline-flex;
  width: Hug 1, 236px;
  height: Hug 446px;
  gap: 32px;
}
.ourproduct .card {
  width: 285px;
  height: 446px;
  background-color: #F4F5F7;
}
.ourproduct .card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}
.ourproduct .card p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #898989;
}
.ourproduct .card h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}
.ourproduct .frame8 {
  display: inline-flex;
  width: Hug 1, 236px;
  height: Hug 446px;
  gap: 32px;
  margin-top: 20PX;
}
.ourproduct .card {
  width: 285px;
  height: 446px;
  background-color: #F4F5F7;
}
.ourproduct .card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}
.ourproduct .card p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #898989;
}
.ourproduct .card h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}
.ourproduct button {
  width: 245px;
  height: 48px;
  border: 1px solid #B88E2F;
  color: #B88E2F;
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -80px;
  left: 1000px;
}

.Inspirations {
  display: inline-flex;
  margin-top: 100px;
  position: relative;
  background-color: #FCF8F3;
  width: 1440px;
  height: 670px;
  padding: 30px;
}
.Inspirations .Inspirations__text {
  width: 30%;
  padding-left: 50px;
}
.Inspirations .Inspirations__text h2 {
  padding-top: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.Inspirations .Inspirations__text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #616161;
}
.Inspirations .Inspirations__text button {
  left: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 176px;
  height: 48px;
  background-color: #B88E2F;
  color: white;
  text-align: center;
  border: none;
}
.Inspirations .Inspirations__images {
  margin-top: 40px;
  width: 60%;
  display: inline-flex;
  gap: 20px;
}
.Inspirations .Inspirations__images .img1 {
  width: 404px;
  height: 582px;
}
.Inspirations .Inspirations__images .img2 {
  width: 372px;
  height: 486px;
}
.Inspirations .Inspirations__images .img3 {
  width: 372px;
  height: 486px;
}
.Inspirations .indicator {
  position: absolute;
  width: Hug 120px;
  height: Hug 27px;
  bottom: 100px;
  right: 440px;
}/*# sourceMappingURL=main.css.map */